
h1{
    text-align:center;
    font-family: Courier;
    font-size:7vw;
}

body {
    background-color:#ffffff ;

}


#intro{
    margin-top: 100px;
    width: 1920px;
    height: 1080px;
    background-image: url("intro_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
    background-position: center;
    font-size: 27px;
    position: relative;

}
#Kareem{
    width: 331px;
    height:392px;
    /*margin-top: 5em;*/
}
#Rani {
    /*position: absolute;
    margin-top:5em;*/
    height: 380px;
    width: 331px;
    left: 700px;
}

#Yuval{
    /*position: relative;
    margin-top:5em;*/
    height: 396px;
    width: 331px;

}

#Siwar{
    /*position: absolute;
    margin-top:5em;*/
    height: 384px;
    width: 331px;
    left:700px;


}

#facbook_link{
    border-radius: 25px;
    font-family: Arial, strong, sans-serif;
    background-color: aquamarine;
}